# Multi-tenant setup 
NEXT_PUBLIC_PRODUCT_LIST='[{"product": "YakShaver", "domain": "tenant1.yakshaver.ai"}, {"product": "TimePro", "domain": "tenant2.yakshaver.ai"}]'
DEFAULT_PRODUCT="YakShaver"

#Algolia Config 
ALGOLIA_APP_ID=***
ALGOLIA_WRITE_API_KEY=*** 
NEXT_PUBLIC_ALGOLIA_APP_ID=***
NEXT_PUBLIC_ALGOLIA_SEARCH_API_KEY=***

#TinaCMS Config 
NEXT_PUBLIC_TINA_CLIENT_ID=***
TINA_TOKEN=***

#Misc 
VERCEL_TOKEN=***
DEFAULT_GOOGLE_TAG_ID=***